{% extends 'base.html' %} {% block content %}

<div class="breadcrumbs">
    <a href="{% url 'dashboard' %}">Home</a> / <i class="breadcrumb-type">Products</i>

    <hr />
</div>


<h1 class="center">Products Page</h1>
&nbsp;

<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">

            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p><strong>Price: €{{ product.price }}</strong></p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="hidden" value="1" class="form-control">
                    <span class="input-group-btn">
                            {% if account == 'free' and added == False %}
                            <button class="btn btn-default custom-button new-save-button" type="submit"><i class="material-icons page-icon left">shopping_cart</i>Add to Cart</button>
                            {% elif added == True %}
                            <a href="{% url 'view_cart' %}" class="btn btn-default custom-button warning-button"><i class="material-icons page-icon left">remove_shopping_cart</i>Added</a>
                            {% else %}
                            <a href="{% url 'profile' %}" class="btn btn-default custom-button delete-cancel-button"><i class="material-icons page-icon left">done</i>Purchased</a>
                            {% endif %}
                        </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
