.navbar {
    border-radius: 0px !important;
}

.boldtext,
.font-weight-bold {
    font-weight: bold;
    color:#555555 !important;
}

.featured-box {
    background-color: #E8EAF6;
    margin: 1%;
    padding: 5%;
    border-radius: 2%;
    border-right: 1px solid #ccc;
}

.fab {
    font-size: 1.5em !important;
}

.priorities{
    color: #000000 !important;
    font-style: normal !important;
}

#search_button{
    float: right !important;
    margin-top: 2%;
}

.create > span > a{
    text-decoration: underline !important;
}

/*For Image Upload Field*/
input[name="screenshot"] {
    padding-bottom: 47px !important;
}
