.center {
  text-align: center; }

.navbar {
  border-radius: 0px !important; }

.boldtext,
.font-weight-bold {
  font-weight: bold;
  color: #555555 !important; }

hr {
  border-top: 1px solid #ccc !important; }

#search_button {
  float: right !important;
  margin-top: 2%; }

.featured-break {
  margin-bottom: 4.4% !important; }

.priorities {
  color: #000000 !important;
  font-style: normal !important; }

.create > span > a {
  text-decoration: underline !important; }

.fab {
  font-size: 1.5em !important; }

.no-content > .far {
  font-size: 7em !important;
  margin: 2% 0 !important; }

.breadcrumb-type {
  font-style: normal;
  font-weight: 600; }

.featured-box {
  background-color: #E8EAF6;
  margin: 1%;
  padding: 5%;
  border-radius: 2%;
  border-right: 1px solid #ccc; }

.user_image {
  width: 40px !important; }

.product {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  margin: 0 auto; }

.project-icon {
  float: left;
  padding-right: 1.5%; }

.project-icon > .fas {
  font-size: 3em !important;
  margin-bottom: 1% !important; }

.project-view-icon > .fas {
  font-size: 9em !important;
  margin-bottom: 1% !important; }

/*For Image Upload Field*/
input[name="screenshot"],
input[name="picture"] {
  padding-bottom: 47px !important; }

.screenshot {
  height: 245px !important;
  width: 245px !important;
  background-size: cover !important;
  background-position: center !important;
  margin-bottom: 5% !important; }

.screenshot-image {
  width: 100%; }

.icon-screenshot {
  width: 150px;
  height: 150px;
  padding: 1%; }

.task-list {
  margin: 5% !important;
  border: 2px solid #ccc;
  padding: 2%;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.task-info {
  float: left;
  padding-right: 6%;
  padding-top: 2.5%; }

.task-description {
  margin-top: 5%; }

.task-screenshot > .screenshot-container {
  height: 150px;
  width: 150px;
  overflow: hidden; }

.screenshot-background {
  background-size: cover !important;
  height: 150px; }
