{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Save</button>
        {% if project != None %}
        <a href="{% url 'project_info' project %}" class="btn btn-danger">Cancel</a>
        {% else %}
        <a href="{% url 'get_projects' %}" class="btn btn-danger">Cancel</a>
        {% endif %}
    </form>
{% endblock %}