{% extends "base.html" %} {% load bootstrap4 %} {% block content %} 

<!-- Show if editing an existing project -->
{% if project %}
<div class="breadcrumbs">
    <a href="{% url 'dashboard' %}">Home</a> / <a href="{% url 'get_projects' %}"> Projects</a> / {{ project_name }}
    <hr />
</div>


<h1 class="center page-title"><strong>Edit Project:</strong> {{ project_name }}</h1>

<!-- Show if this is a new project -->
{% else %}

<div class="breadcrumbs">
    <a href="{% url 'dashboard' %}">Home</a> / <a href="{% url 'get_projects' %}"> Projects</a> / New Project
    <hr />
</div>

<h1 class="center">New Project</h1>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="form-box">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% bootstrap_form form %}
                <button type="submit" class="btn btn-default custom-button new-save-button"><i class="material-icons page-icon left">done</i>Save</button> {% if project != None %}
                <a href="{% url 'project_info' project %}" class="btn btn-default custom-button delete-cancel-button"><i class="material-icons page-icon left">cancel</i>Cancel</a> {% else %}
                <a href="{% url 'get_projects' %}" class="btn btn-default custom-button delete-cancel-button"><i class="material-icons page-icon left">cancel</i>Cancel</a> {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
