{% extends 'base.html' %} {% block content %}

<div class="breadcrumbs">
    <a href="{% url 'dashboard' %}">Home</a> / <a href="{% url 'get_projects' %}"> Projects</a> / {{ project.name}}
    <hr />
</div>

<h1 class="center"><strong>Modify Project:</strong> {{ project.name }}</h1>

<div class="spacing"></div>
<div class="spacing"></div>

<div class="row">
    <br />
    <div class="col-md-2">
        <div class="project-view-icon">
            {% if project.status == 'Work' %}
            <i class="fas fa-briefcase"></i> {% elif project.status == 'Education' %}
            <i class="fas fa-graduation-cap"></i> {% elif project.status == 'Personal' %}
            <i class="fas fa-users"></i> {% endif %} &nbsp;
        </div>
        <br />
    </div>
    <div class="col-md-8">
        <p><span class="boldtext">Name: </span> {{ project.name}}</p>
        <p><span class="boldtext">Description: </span> {{ project.description }}</p>
        <p><span class="boldtext">Type: </span> {{ project.status }}</p>
        <p><span class="boldtext">User: </span> {{ project.user }}
        </p>
        <p><span class="boldtext">Published on: </span> {{ project.published_date }} </p>
        <hr />
        <a href="{% url 'edit_project' project.id %}" class="btn btn-default custom-button edit-options-button"><i class="material-icons page-icon left">edit</i> Edit</a>
        <a href="{% url 'delete_project' project.id %}" class="btn btn-default custom-button delete-cancel-button"><i class="material-icons page-icon left">delete</i> Delete</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
