{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'dashboard' %}">Home</a> / <a href="{% url 'get_projects' %}"> Projects</a> / {{ project.name}}
        <hr />
    </div>
</div>
&nbsp;
<div class="row">
    <div class="col-md-2">
        <div class="project-view-icon">
            {% if project.status == 'Work' %}
            <i class="fas fa-briefcase"></i> {% elif project.status == 'Education' %}
            <i class="fas fa-graduation-cap"></i> {% elif project.status == 'Personal' %}
            <i class="fas fa-users"></i> {% endif %} &nbsp;
        </div>
        <br />
    </div>
    <div class="col-md-8">
        <p><span class="boldtext">Name: </span> {{ project.name}}</p>
        <p><span class="boldtext">Description: </span> {{ project.description }}</p>
        <p><span class="boldtext">Type: </span> {{ project.status }}</p>
        <p><span class="boldtext">User: </span> {{ project.user }}
        </p>
        <p><span class="boldtext">Published on: </span> {{ project.published_date }} </p>
        <hr />
        <a href="{% url 'edit_project' project.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a href="{% url 'delete_project' project.id %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
