{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <a href="{% url 'dashboard' %}">Home</a> / Projects / <i class="breadcrumb-type">{{ project_type }}</i>

        <hr />
    </div>
</div>

{% if result %}
<div class="alert alert-danger">
    <div class="messages">
        The trial version allows the creation of only 1 Project. Please buy the Pro Version from your profile page
        <!--{% for message in messages %} {{ message }} {% endfor %}-->
    </div>
</div>
{% endif %}



<h1 class="center">Projects Page</h1>


<div class="row">
    <div class="col-md-12">
        <h3 class="create"><span><a href="{% url 'create_project' %}">Create a new Project</a></span></h3>
    </div>
    <hr />
</div>

{% if project_count != 0 %}
<div class="row">
    <div class="col-md-10 col-sm-12"></div>
    <div class="col-md-2 col-sm-12">
        <form action="{% url 'get_projects' %}" method="POST">
            {% csrf_token %}
            <select name="search" class="form-control">
              <option value="all">Show All Projects</option>
              <option value="work">Work</option>
              <option value="education" >Education</option>
              <option value="personal" >Personal</option>
            </select>
            <input id="search_button" class="btn btn-primary" type="submit" value="Search" />
        </form>
    </div>
</div>
{% endif %} &nbsp;


<div class="row">

    {% if projects %} {% for project in projects %}

    <div class="col-md-4">
        <div class="project-container">
            <div class="project-icon">
                {% if project.status == 'Work' %}
                <i class="fas fa-briefcase"></i> {% elif project.status == 'Education' %}
                <i class="fas fa-graduation-cap"></i> {% elif project.status == 'Personal' %}
                <i class="fas fa-users"></i> {% endif %} &nbsp;
            </div>
            <div class="project-info">
                <p><span class="boldtext">Name: </span> {{ project.name}}</p>
                <p><span class="boldtext">Type: </span> {{ project.status }}</p>
            </div>
            <p>
                <a href="{% url 'project_info' project.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Options</a>
                <a href="{% url 'view_only' project.id %}" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Tasks</a>
            </p>
        </div>
    </div>
    {% endfor %} {% elif project_count != 0 %}
    <div class="col-md-12">
        <div class="no-content center">
            <i class="far fa-smile"></i>
            <h4>You have no Projects categorized as: "{{ project_type }}"</h4>
            <div class="create-new">
                <a href="{% url 'create_project' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Project</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-md-12">
        <div class="no-content center">
            <i class="far fa-smile"></i>
            <h4>You have no Projects. Please add a project...</h4>
            <div class="create-new">
                <a href="{% url 'create_project' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Project</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
