{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <a href="{% url 'get_projects' %}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p><span class="boldtext">Name:</span> {{ project.name}}</p>
        <p><span class="boldtext">Description:</span> {{ project.description }}</p>
        <p><span class="boldtext">Type:</span> {{ project.status }}</p>
        <p><span class="boldtext">User:</span> {{ project.user }}</p>
        <p><span class="boldtext">Published on:</span> {{ project.published_date }} </p>
        <hr />
        <a href="{% url 'edit_project' project.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a href="{% url 'delete_project' project.id %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
