{% extends 'base.html' %} {% block content %}

<div class="breadcrumbs">
    <a href="{% url 'dashboard' %}">Home</a> /
    <a href="{% url 'get_projects' %}"> Projects</a> / {{ project }} / <i class="breadcrumb-type">{{ task_type }}</i>
    <hr />
</div>

{% if result %}
<div class="alert alert-danger">
    <div class="messages">
        The trial version allows the creation of only 3 Tasks. Please buy the Pro Version from your profile page
        <!--{% for message in messages %} {{ message }} {% endfor %}-->
    </div>
</div>
{% endif %}

<h1 class="center"><strong>Project:</strong> {{project}}</h1>

<div class="spacing"></div>

{% if task_count != 0 %}
<div class="row">
    <div class="col-md-10 col-sm-12"></div>
    <div class="col-md-2 col-sm-12">
        <form action="#" method="POST">
            {% csrf_token %}
            <select name="search" class="form-control">
              <option value="all">Show All Tasks</option>
              <option value="hpriority" >High Priority</option>
              <option value="mpriority" >Medium Priority</option>
              <option value="lpriority" >Low Priority</option>
              <option value="todo">To Do</option>
              <option value="progress">In Progress</option>
              <option value="done">Done</option>
            </select>
            <button class="btn btn-default custom-button search-button" type="submit">
                <i class="material-icons page-icon left">search</i>Search
            </button>
        </form>
    </div>
</div>
{% endif %} {% if tasks %} {% for task in tasks %}
<div class="task-list">
    <div class="inner-task-list">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {% if task.screenshot %}
                <a href="{{ MEDIA_URL }}{{ task.screenshot }}" target="_blank" alt="click to open" title="Click to open screenshot">
                    <div class="screenshot" alt="screenshot" style="background:url({{ MEDIA_URL }}{{ task.screenshot }})">
                    </div>
                </a>

                {% else %}

                <div class="screenshot" alt="placeholder" style="background:url({{ MEDIA_URL }}img/placeholder/screenshot-placeholder.png)"></div>

                {% endif %}
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                <p><span class="boldtext">Name:</span> {{task.name}}</p>
                <p><span class="boldtext">Description:</span> {{ task.description }}</p>
                <p><span class="boldtext">Status:</span> {{ task.status }}</p>
                <p><span class="boldtext">Priority:</span> {{ task.priority }}</p>
                <p><span class="boldtext">Published on:</span> {{ task.published_date }} </p>
                <hr />
                <a href="{% url 'edit_task' task.id project_id %}" class="btn btn-default custom-button edit-options-button"><i class="material-icons page-icon left">edit</i> Edit</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-default custom-button delete-cancel-button"><i class="material-icons page-icon left">delete</i> Delete</a>
                <a href="{% url 'create_task' project_id %}" class="btn btn-default custom-button new-save-button"><i class="material-icons page-icon left">add</i> New</a>
                <hr />
            </div>
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12"></div>
        </div>
    </div>
</div>
{% endfor %}

<br /> {% elif project_count != 0 %}

<div class="spacing"></div>

<div class="col-md-12">
    <div class="no-content center">
        <i class="far fa-smile"></i>
        <h4>You have no Tasks categorized as: "{{ task_type }}"</h4>
        <div class="spacing"></div>
        <div class="create-new">
            <a href="{% url 'create_task' project_id %}" class="btn btn-default custom-button new-save-button"><i class="material-icons page-icon left">add</i> New Task</a>
        </div>
    </div>
</div>

{% else %}

<div class="spacing"></div>

<div class="col-md-12">
    <div class="no-content center">
        <i class="far fa-smile"></i>
        <h4>You have no Tasks. Please add a task...</h4>
        <div class="spacing"></div>
        <div class="new-task">
            <a href="{% url 'create_task' project_id %}" class="btn btn-default custom-button new-save-button"><i class="material-icons page-icon left">add</i> New Task</a>
        </div>
    </div>
</div>
{% endif %} {% endblock %}
