{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-md-12">
        <a href="{% url 'get_projects' %}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    </div>
</div>

<h1 class="center"><strong>Project:</strong> {{project}}</h1>

<div class="row">
    <div class="col-md-12">
        <h3 class="create"><span><a href="{% url 'create_task' project_id %}">Create a new Task</a></span></h3>
    </div>
</div>

&nbsp;
<div class="row">
    <div class="col-md-10 col-sm-12"></div>
    <div class="col-md-2 col-sm-12">
        <form action="#" method="POST">
            {% csrf_token %}
            <select name="search" class="form-control">
              <option value="all" default>Show All Tasks</option>
              <option value="hpriority" >High Priority</option>
              <option value="mpriority" >Medium Priority</option>
              <option value="lpriority" >Low Priority</option>
              <option value="todo">To Do</option>
              <option value="progress">In Progress</option>
              <option value="done">Done</option>
            </select>
            <input id="search_button" class="btn btn-primary" type="submit" value="Search" />
        </form>
    </div>
</div>
&nbsp;

<div class="row">
    {% for task in tasks %}
    <div class="col-md-4">
        <p><span class="boldtext">Name:</span> {{task.name}}</p>
        <p><span class="boldtext">Project:</span> {{ task.project }}</p>
        <p><span class="boldtext">Status:</span> {{ task.status }}</p>
        {% if task.priority == 'High' %}
        <p style="color:red; font-weight:600"><span class="boldtext" style="color:#555555 !important;">Priority:</span> {{ task.priority }}</p>
        {% elif task.priority == 'Medium' %}
        <p style="color:orange; font-weight:600"><span class="boldtext" style="color:#555555 !important;">Priority:</span> {{ task.priority }}</p>
        {% elif task.priority == 'Low' %}
        <p style="color:green; font-weight:600"><span class="boldtext" style="color:#555555 !important;">Priority:</span> {{ task.priority }}</p>
        {% endif %}
        
        {% if task.screenshot %}
        <p><span class="boldtext">Screenshot:</span> Yes</p>
        {% else %}
        <p><span class="boldtext">Screenshot:</span> No</p>
        {% endif %}
        <p><a href="{% url 'task_info' task.id project_id %}" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> More...</a></p>
        <hr />
    </div>
    {% endfor %}
</div>
{% endblock %}
