{% extends "credentials.html" %} {% load bootstrap4 %} {% block content %}

<div class="section"></div>
<h5 class="login-heading">Please, login into your account</h5>

<div class="spacing"></div>

<div class="container">
    <div class="credential-list">

        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
            <div class="form-group">
                {% csrf_token %} 
                {% bootstrap_form  user_form %}

                {% buttons %}
                <button type="submit" class="btn btn-default custom-button edit-options-button">Login</button>
                {% endbuttons %}
                <div class="forgot-password">
                    <a href="{% url 'password_reset' %}">Forgot my password</a>
                </div>

            </div>
        </form>

    </div>
</div>

<div class="spacing"></div>

<div class="user-action-link">
    <a href="{% url 'register' %}">Create account</a>
</div>
{% endblock %}
