{% extends "base.html" %}
{% block content %}

    {% for i in info %}

    <h1 class="center">Profile</h1>
    <div class="screenshot-container">
            <a href="{{ MEDIA_URL }}{{ i.picture }}" target="_blank">
                <img class="screenshot" src="{{ MEDIA_URL }}{{ i.picture }}">
            </a>
        </div>
    <br>
    <p><strong>Username: </strong> {{ i.user }}</p>
    <p><strong>Email: </strong> {{ user.email }}</p>
    
    <a href="{% url 'edit_profile' %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>

    
    {% endfor %}
{% endblock %}