{% extends "base.html" %} {% block content %}


<div class="breadcrumbs">
    <a href="{% url 'dashboard' %}">Home</a> / Profile
    <hr />
</div>

<h1 class="center page-title">Profile Page</h1>
&nbsp;

<div class="row">
    <div class="col-md-3">
        {% for i in info %} {% if i.picture %}
        <div class="screenshot-container">
            <a href="{{ MEDIA_URL }}{{ i.picture }}" target="_blank">
            <img class="screenshot"  alt="screenshot" src="{{ MEDIA_URL }}{{ i.picture }}">
        </a>
        </div>
        <br /> {% else %}
        <div class="screenshot-container">
            <a href="{{ MEDIA_URL }}img/placeholder/profile-placeholder.png" target="_blank">
            <img class="screenshot" alt="placeholder" src="{{ MEDIA_URL }}img/placeholder/profile-placeholder.png">
        </a>
        </div>
        <br /> {% endif %}
    </div>

    <div class="col-md-9">
        <div class="profile-info">
            <p><strong>Username: </strong> {{ i.user }}</p>
            <p><strong>Email: </strong> {{ user.email }}</p>

            {% if i.description != None %}
            <p><strong>Description: </strong> {{ i.description }}</p>
            {% else %}
            <p><strong>Description: </strong> None</p>
            {% endif %}

            <p><strong>Account Type: </strong> {{ i.account }}</p>
            <p><strong>Current Projects: </strong> {{ project_count }}</p>
            <p><strong>Current Tasks: </strong> {{ task_count }}</p>
            <hr />
            <a href="{% url 'edit_profile' %}" class="btn btn-default custom-button edit-options-button"><i class="material-icons page-icon left">edit</i> Edit</a> {% if i.account == 'free' %}
            <a href="{% url 'products' %}" class="btn btn-default custom-button new-save-button"><i class="material-icons page-icon left">euro</i> Buy Pro Version</a> {% endif %} {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
