{% extends "base.html" %} {% load bootstrap4 %} {% block content %}

<div class="breadcrumbs">
        <a href="{% url 'dashboard' %}">Home</a> / 
        <a href="{% url 'profile' %}">Profile</a> / 
        <i class="breadcrumb-type">{{ username }}</i>
        <hr />
</div>

<h1 class="center"><strong>Edit Profile:</strong> {{ username }}</h1>
&nbsp;


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {% bootstrap_form form %}
    <button type="submit" class="btn btn-default custom-button new-save-button"><i class="material-icons page-icon left">done</i>Save</button>
    <a href="{% url 'profile' %}" class="btn btn-default custom-button delete-cancel-button"><i class="material-icons page-icon left">cancel</i>Cancel</a>
</form>
{% endblock %}
