{% extends "credentials.html" %} {% load bootstrap4 %} {% block content %}

<div class="section"></div>
<h5 class="login-heading">Create an account</h5>

<div class="spacing"></div>

<div class="container">
    <div class="credential-list">
        
        <!-- Registration Form -->
        <form method="post" action="{% url 'register' %}" class="accountform">
            <div class="form-group">
                {% csrf_token %} 
                {% bootstrap_form  user_form %}

                {% buttons %}
                <button type="submit" class="btn btn-default custom-button edit-options-button">Register</button>
                {% endbuttons %}
            </div>
        </form>

    </div>
</div>

<div class="spacing"></div>

<div class="user-action-link">
    <a href="{% url 'login' %}">Sign In</a>
</div>
{% endblock %}
