{% extends 'base.html' %} {% block content %}

<div class="spacing"></div>

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Trackx</h1>
        <p>Trackx is a web app to allow users to set up tasks for various projects to organize workflow</p>
    </div>
</div>

<div class="spacing"></div>

<div class="row">
    <div class="col-md-6 text-center featured">
        <div class="featured-box">
            <div>
                <h3>Tasks</h3>
                <p>Create tasks and organize what I need to do</p>
                <p>Better workflow, keep what I need to do from paper and custom tasks according to projects and priority</p>
            </div>
            <div>
                <div class="spacing"></div>
                &nbsp;
                <div class="row">
                    <div class="col-md-4">
                        <h6 style="color:red">High Priority:</h6>
                        <p class="font-weight-bold">{{ high }}</p>
                    </div>
                    <div class="col-md-4">
                        <h6 style="color:orange">Medium Priority:</h6>
                        <p class="font-weight-bold ">{{ medium }}</p>
                    </div>
                    <div class="col-md-4">
                        <h6 style="color:green">Low Priority:</h6>
                        <p class="font-weight-bold">{{ low }}</p>
                    </div>
                </div>
                <hr />
                <div class="featured-break"></div>
                <h4>Task Stats</h4>
                <h6>To Do:</h6>
                <p class="font-weight-bold">{{ todo }}</p>
                <h6>In Progress:</h6>
                <p class="font-weight-bold">{{ progress }}</p>
                <h6>Done:</h6>
                <p class="font-weight-bold">{{ done }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 text-center featured">
        <div class="featured-box">
            <div>
                <h3>Projects</h3>
                <p>The latest projects that I'm working on</p>
                <p>From Website Development to College Work to General tasks and Reminders. Constantly trying to get things done.</p>
            </div>
            <div>
                <hr />
                <h4>Project Stats</h4>
                <h6>Work:</h6>
                <p class="font-weight-bold">{{ work }}</p>
                <h6>Education:</h6>
                <p class="font-weight-bold">{{ education }}</p>
                <h6>Personal:</h6>
                <p class="font-weight-bold">{{ personal }}</p>
                <div class="featured-break"></div>
                <p><a href="{% url 'get_projects' %}" class="btn btn-default custom-button edit-options-button"><i class="material-icons page-icon left">description</i>View Projects</a></p>
                <p><a href="{% url 'create_project' %}" class="btn btn-default custom-button new-save-button"><i class="material-icons page-icon left">add</i>Create Project</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
